html, body {
  position: relative;
  height: 100%;
}

body {
  text-align: center;
  background: #656176;
  color: white;
}

#gof {
  color: white;
}

div {
  margin: 0;
}

h1 {
  letter-spacing: 5px;
  font-size: 50px;
  font-weight: 100;
}

#grid {
  position: relative;
  margin: 0px auto;
}

.row1 {
  height: 10px;
  /*to align the content*/
  /*width: 700px;*/
  margin: 0 auto;
}

.cell {
  float: left;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.alive {
  background: #CE5374;
}

/*.vertalign  {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/
